<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="infobeans_ordercancel" translate="label" sortOrder="1000">
            <label>Infobeans</label>
        </tab>
        <section id="ordercancel_section" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Order Cancel Configuration</label>
            <tab>infobeans_ordercancel</tab>
            <resource>Infobeans_Ordercancel::config</resource>
           <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                 <field id="enable_module" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                 <field id="enable_comment" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Reason Box</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>                
                <field id="email_to" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email to</label>
                    <validate>required-entry validate-email</validate>
                    <comment><![CDATA[Email notification sent to admin]]></comment>
                </field>
                <field id="identity" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Order Cancel Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>    
                <field id="ordercancel_message_pendingorder" translate="label" type="textarea" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <validate>required-entry</validate>
                    <label>Message after order cancel (Pending Order)</label>
                </field>               
                <field id="ordercancel_message_paidorder" translate="label" type="textarea" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                    <validate>required-entry</validate>
                    <label>Message after order cancel (Paid Order)</label>
                </field>
                <field id="ordercancel_template" translate="label comment" type="select" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order Cancel Email Template (Pending Order)</label>                
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                </field>      
                <field id="ordercancelrequest_template" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order Cancel Email Template Paid Order)</label>                
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                </field>      
            </group>
        </section>
    </system>
</config>